html{
  background-color: lightgray;
}

header {
  margin-top: 2%;
  padding: 2%;
  background-color: rgb(58, 58, 58);
}

.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

header .main-nav-links {
  display: flex;
}

.btn {
  padding: 7px;
  margin: 1%;
  border-radius: 5px;
  background-color: lightgray;
  color: black;
  text-decoration: none;
}
.btn:hover {
  padding: 6px;
  border: 1px solid black;
}

header .login-signup-btns {
  display: flex;
}

.newStory-form {
  margin: 5% auto;
  width: 95%;
}

.newStory-form form .text-field {
  margin: 2% 0;
}

.story-link {
  color: black;
  text-decoration: none;
}